/* Color Pallete */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  margin: 10px;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: none;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 3px;
}

.link-arrow:hover::after {
  margin-left: 7px;
  transition: 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 25px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--primary {
  background: #126de4;
  color: #ffffff;
}

.badge--secondary {
  background-color: #02cdf1;
  color: #ffffff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: none;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin: 2rem;
}

.list--tick {
  list-style-image: url(/images/tick.svg);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min_width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.button {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 40px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.button--hero {
  width: 100%;
  background: var(--color-accent);
  color: white;
  padding: 2.4rem;
  font-weight: bold;
}

.button--search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff3400;
  padding: 2rem 4.5rem 2rem 3rem;
  color: white;
  font-weight: bold;
}

.search {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.button--alternative {
  background: var(--color-secondary);
}

.button--sell {
  width: 100%;
  border: 2px solid var(--color-headings);
  background: none;
  color: var(--color-headings);
  padding: 2.4rem;
  font-weight: 600;
}

.button--sell:hover {
  background: var(--color-headings);
  color: white;
  transition: 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }

  .button--hero {
    width: max-content;
    padding: 2.4rem 4rem;
  }

  .button--search {
    padding: 1.5rem 4.5rem 1.5rem 3rem;
  }

  .button--sell {
    font-size: 1.5rem;
    padding: 2rem;
  }
}

/* Inputs */
.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cbcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .button {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

/* Plans */
.plan {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
}

.plan__name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 6rem;
  margin-right: 1rem;
}

.plan__billing-cycle {
  font-weight: 300;
  font-size: 2.4rem;
  margin-right: 2rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.plan .list__item {
  margin-bottom: 4rem;
  font-weight: 500;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .plan__billing-cycle {
  margin-right: 1rem;
}

.plan--popular .plan__name {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.plan--popular .plan__description {
  color: #a5c5ff;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.5rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}
