/* Color Pallete */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-body-lighter: #d3d2dd;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.4;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3 rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 3px;
}

.link-arrow:hover::after {
  margin-left: 7px;
  transition: 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 25px;
  padding: 1rem 1rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--primary {
  background: #126de4;
  color: #ffffff;
}

.badge--secondary {
  background-color: #02cdf1;
  color: #ffffff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-inline-start: 20px;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin: 2rem;
}

.list--tick {
  list-style-image: url(/images/tick.svg);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--white {
  fill: white;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* Buttons */
.button {
  text-transform: uppercase;
  height: max-content;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 40px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.button--stretched {
  padding: 2.5rem 6vw;
}

.button--hero {
  background: var(--color-accent);
  color: white;
  font-weight: bold;
}

.button--hero:hover {
  background: #f33506;
  transition: 0.1s ease-in;
}

.button--search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff3400;
  padding: 2rem 4vw;
  color: white;
  font-weight: bold;
}

.button--search:hover {
  background: #f53506;
}

.search {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.button--alternative {
  background: var(--color-secondary);
}

.button--alternative:hover {
  background: #02cdf1;
}

.button--sell {
  width: 100%;
  border: 2px solid var(--color-headings);
  background: none;
  color: var(--color-headings);
  padding: 2.4rem;
  font-weight: 600;
}

.button--sell:hover {
  background: var(--color-headings);
  color: white;
  transition: 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }

  .button--hero {
    width: max-content;
  }

  .button--search {
    padding: 1.5rem 4.5rem 1.5rem 3rem;
  }

  .button--sell {
    font-size: 1.5rem;
    padding: 2rem;
  }
}

/* Inputs */
.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cbcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  width: 0;
  border: none;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}

.input-group .button {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */
.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #e7e7e7;
  overflow: visible;
}

.card__header {
  padding: 2rem 3rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__body {
  padding: 3rem 2rem 5rem 3rem;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

/* Plans */
.plan {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
}

.plan__name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 6rem;
  margin-right: 0.5rem;
}

.plan__billing-cycle {
  font-weight: 300;
  font-size: 2.4rem;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.plan .list__item {
  margin-bottom: 4rem;
  font-weight: 500;
}

.plan--popular .plan__billing-cycle {
  margin-right: 1rem;
}

.plan--popular .plan__name {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.plan--popular .plan__description {
  color: #a5c5ff;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(/images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 30px;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.5rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 1.5rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */
.quote {
  font-size: 2.4rem;
  font-style: italic;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1.5;
  color: var(--color-body-darker);
  margin: 1rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote .media__title {
  font-weight: 500;
  font-style: normal;
}

.quote .media__body p {
  color: var(--color-body-lighter);
  font-size: 2rem;
  font-style: normal;
  margin-top: 0;
}

.quote .media__image {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote .media__title {
    font-size: 2.4rem;
  }
  .quote .media__body p {
    font-size: 1.6rem;
  }

  .quote .media__image {
    bottom: 14px;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Testimonials */
.testimonial {
  padding: 2rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > picture > img {
  width: 100%;
  padding: 1rem 2rem 0 1rem;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 2.3rem;
  right: -11px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote__text {
    font-size: 2.4rem;
  }
  .testimonial .media__title {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 3rem;
  }
  .testimonial .quote .media__image {
    bottom: 14px;
  }
}

@media screen and (min-width: 876px) {
  .testimonial__image > .icon-container {
    position: absolute;
    top: 2rem;
    right: -12px;
  }
}
/* Callouts */
.callout {
  padding: 4rem;
  border-radius: 10px;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__content {
  text-align: center;
}

.callout__text {
  word-spacing: 1px;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-weight: bold;
}

.callout .button {
  justify-self: center;
  align-self: center;
  width: max-content;
  margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .button {
    justify-self: start;
    margin-left: 2.5rem;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 2.4rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 4rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Navigation Bar */
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 0;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(34, 34, 34, 0.74);
}

.nav__item > a {
  transition: color 0.3s;
  color: #d2d0db;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
    padding: 1rem 2rem;
  }
}

/* Hero */

.hero {
  margin: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  --padding-vertical: 12rem;
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Domain blocks */

.block-domain .input-group {
  box-shadow: 0 0 20px 15px rgba(235, 235, 235, 0.897);
  border: none;
  max-width: 700px;
  margin: 5rem auto 6rem auto;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6rem 6rem;
  font-size: 1.8rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .block-domain__prices {
    font-size: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .block-domain .input-group {
    margin: 4rem auto 4rem auto;
  }
}

/* Plans block */

.domains {
  margin-top: 3rem;
}

.plans-block {
  margin: 4rem auto 0 auto;
  max-width: 80rem;
}

@media screen and (min-width: 1024px) {
  .plans-block:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
  }
  .plan--popular {
    transform: scale(1.05);
  }
  .plan--popular:hover {
    transform: scale(1.1);
  }
  .domains {
    display: flex;
    justify-content: space-around;
  }
  .plans-block {
    margin: 0 1.5rem;
  }

  .plans-block .card {
    min-width: 31rem;
    max-width: 35rem;
  }
}

/* Features */

.feature__header {
  margin-bottom: 5rem;
}

.feature__heading {
  margin: 1.5rem 0;
}
.feature {
  gap: 4rem 4rem;
}
.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature__header {
    margin-bottom: 6rem;
  }

  .feature {
    --padding-vertical: 9rem;
  }

  .feature--inverted .feature__content {
    order: 2;
  }
}

/* Showcase block */

.block-showcase {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 92%);
}

.block-showcase__content {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding-inline-start: 1rem;
}
.showcase-block__image {
  width: 100%;
}

.block-showcase__content > li {
  margin: 2rem 0;
}
.block-showcase__content .media__title {
  color: white;
  font-weight: 500;
}

.block-showcase__content .media__body > p {
  margin-top: 1.5rem;
}

.block-showcase__content .media__image {
  margin: 0.25rem 1rem 0 0;
}

@media screen and (min-width: 768px) {
  .block-showcase__content {
    margin-left: 0.5rem;
  }

  .block-showcase__heading {
    --padding-vertical: 5rem;
  }

  .block-showcase {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  }
  .block-showcase__content .media__body > p {
    font-size: 1.8rem;
  }
  .block-showcase__content .media__title {
    font-size: 2rem;
  }
}

/* Footer block */
.footer {
  background-color: #232323;
}

.footer__lists {
  border-bottom: 1px solid rgba(113, 122, 128, 0.651);
  padding: 2rem 1rem;
  text-transform: uppercase;
}

.footer__lists .collapsible__content > ul {
  list-style: none;
  color: rgba(113, 122, 128, 0.651);
  margin: 0;
  padding-inline-start: 0;
}

.footer__lists .collapsible__content > ul > li {
  margin: 1.5rem 0;
  text-transform: none;
}

.footer__lists .collapsible__content > ul > li > a {
  color: rgba(113, 122, 128, 0.651);
}

.footer__lists .collapsible__content > ul > li > a:hover {
  color: white;
  transition: color 0.3s;
}

.footer__lists .collapsible__heading {
  color: white;
  font-weight: 600;
  margin-top: 1rem;
}

.footer__lists .collapsible__chevron {
  margin-top: 0.6rem;
  opacity: 0.6;
}

.footer__brand {
  margin-top: 7.5rem;
  text-align: center;
}

.footer__brand .copyright {
  font-size: 1.5rem;
  color: rgba(113, 122, 128, 0.651);
  white-space: nowrap;
  margin-top: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .footer .grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer__lists {
    margin: 0 auto;
  }

  .footer__lists .collapsible__heading {
    font-size: 1.8rem;
  }

  .footer__lists .collapsible__content > ul > li {
    font-size: 1.6rem;
  }

  .footer__brand img {
    width: 100%;
  }

  .footer__brand {
    margin: 2rem 5rem 0 0;
    order: -1;
  }
  .footer__lists .collapsible__chevron {
    display: none;
  }
  .footer__lists {
    border: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
}
/* Callout block */
.callout-block {
  background-image: linear-gradient(0deg, #232323 50%, #fff 50%);
}

.callout-block__container {
  margin: 0 auto;
  max-width: 978px;
}

@media screen and (min-width: 1024px) {
  .callout-block {
    background-image: linear-gradient(0deg, #232323 60%, #fff 40%);
  }
}
