<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready To Get Started?</h2>
      <p class="callout__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis
        aspernatur, perferendis sapiente consequatur maiores placeat eius rerum
        vel nemo. Sint consequuntur exercitationem nemo sunt obcaecati!
      </p>
    </div>
    <a href="" class="button button--stretched button--hero button--alternative"
      >Get Started</a
    >
  </div>
</div>
