<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quod
    tempora cum corporis ratione ex quibusdam quam nam magni tempore?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">John Johnson</h3>
        <p>ABCD Company</p>
      </div>
    </div>
  </footer>
</blockquote>
