<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2 class="block__heading">User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture>
            <source type="image/webp" srcset="images/ipad_1x.webp 1x, images/ipad_2x.webp 2x" />
            <source type="image/jpg" srcset="images/ipad@1x.jpg 1x, images/ipad@2x.jpg 2x" />
            <img class="showcase-block__image" src="/images/ipad.jpg" alt="" />
        </picture>
        <ul class="block-showcase__content">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam,
                            ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur
                            ab.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use href="images/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam,
                            ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur
                            ab.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use href="images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam,
                            ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur
                            ab.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
